DB_HOST=18.217.224.48
DB_URI==postgresql+psycopg2://<user>:<password>@<host>:<port>/<dbname>
DB_TEST_URI=postgresql+psycopg2://<user>:<password>@<host>:<port>/<dbname>
FLASK_ENV=testing
SECRET_KEY=
JWT_SECRET_KEY=