/*Media screens*/

@media only screen and (max-width: 768px){
    .main-content-container {
        margin: auto !important;
    }
}

/*Body*/

body{
    background-color: black;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

/*Homepage cards*/
/*Navbar*/
/*Background colours*/
.create-post-card,
.thread-card,
.top-communities-card,
.navbar,
.nav-searchbar,
.create-post-text,
.premium-card,
.create-post-community-sidebar {
    background-color: #1A1A1B !important;
}

.create-post-text {
    color: #1A1A1B !important;
}

/*Navbar*/

.navbar {
    padding: .5%;
}

.navbar-brand {
    margin-right: 40px;
}

#usersettings {

}

/*Buttons*/

/*.premium-button,*/
/*.view-all-communities {*/
/*    margin: auto !important;*/
/*}*/

/*Log In & Sign Up modal css*/

.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0;
}