/*Media screens*/

@media only screen and (max-width: 768px){
    .main-content-container {
        margin: auto !important;
        min-width: 30rem;
        max-width: 40rem;
    }
}


/*Body*/

body{
    background-color: black;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

/*Homepage cards*/
/*Navbar*/
/*Background colours*/
.create-post-card,
.thread-card,
.top-communities-card,
.navbar,
.nav-searchbar,
.create-post-text,
.premium-card,
.create-post-community-sidebar,
.sidebar-nav-help,
.dropdown-menu {
    background-color: #1A1A1B !important;
}

.create-post-text {
    color: white !important;
}

/*Navbar*/

.navbar {
    padding: .5%;
}

.navbar-brand {
    margin-right: 40px;
}


.dropdown-menu a:hover {
    color: #000 !important;
}

.dropdown-menu a:active {
    color: #fff !important;
}

.user_setting .dropdown-item,
.home-navbar .dropdown-item {
    font-size: 12px;
}

/*Sidebar Homepage*/
.sidebar-nav-help a {
    display: inline-block !important;
    text-decoration: none !important;
    font-size: 8px !important;
}

/*Makes link in top communities sidebar clickable*/
.card-link {
    position: relative;
}

/*Buttons*/

/*.premium-button,*/
/*.view-all-communities {*/
/*    margin: auto !important;*/
/*}*/

/*Log In & Sign Up modal css*/

.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0;
}