<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

        <!-- navbar -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{#            <div class="d-flex justify-content-between">#}
                <a class="navbar-brand" href="#">
                    <img src="../static/img/reddit.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    FlaskReddit
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Jinja template for communities user has joined - only show if logged in -->
                        {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../static/img/home.png" width="24" height="24" class="d-inline-block align-top" alt="">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Example</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <!-- End template for user communities -->
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0 d-flex justify-content-start">
                                <input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="Search FlaskReddit" aria-label="Search">
                                <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
                            </form>
                        </li>
                    </ul>
                    <!-- If no user show login/signup buttons -->
                {% if not current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary btn-sm" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary btn-sm" href="#">Log In</a>
                        </li>
                        <!-- End template for login/signup buttons-->
                    </ul>
                {% endif %}
{#                    <ul class="navbar-nav mx-auto">#}
{#                        #}
{#                    </ul>#}
                    <!-- -->

                    {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto" >
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                [Username]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">profile</a>
                                <a class="dropdown-item" href="#">settings</a>
                                <a class="dropdown-item" href="#">create a community</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
{#            </div>#}
        </nav>
        </div>




    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>