<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- Modals -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="loginModalTitle">Log In</h4>
                </div>
                <div class="modal-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages: %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                    {{ wtf.quick_form(login_form, button_map={"submit_button": "outline-secondary"}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="registerModalTitle">Sign Up</h4>
                </div>
                <div class="modal-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages: %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                    {{ wtf.quick_form(register_form, button_map={"submit_button": "outline-secondary"}) }}
                </div>
            </div>
        </div>
    </div>







        <!-- navbar -->

        <nav class="navbar navbar-expand-lg navbar-dark mb-3 mx-auto">
{#            <div class="d-flex justify-content-between">#}
                <a class="navbar-brand" href="#">
                    <img src="../static/img/reddit.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    FlaskReddit
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Jinja template for communities user has joined - only show if logged in -->
                        {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../static/img/home.png" width="24" height="24" class="d-inline-block align-top" alt="">
                                Home
                            </a>
                            <div class="home-navbar dropdown-menu text-white" aria-labelledby="navbarDropdown">
                            <h6>My Communities</h6>
                                {% for reddit in reddits: %}
                                <!-- Will be an a tag to link to each subreddit page -->
                                    <a class="dropdown-item text-white" href="#">r/{{ reddit.name }}</a>
                                    <hr>
                                {% endfor %}

                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <!-- End template for user communities -->
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0 d-flex justify-content-start">
                                <input class="nav-searchbar form-control mr-sm-1 text-white " type="search" style="width: 300px" placeholder="Search FlaskReddit" aria-label="Search">
                                <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
                            </form>
                        </li>
                    </ul>
                    <!-- If no user show login/signup buttons -->
                {% if not current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#loginModal">Log in</button>
{#                            <a type="button" class="btn btn-outline-secondary btn-sm" href="login">Log In</a>#}
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#registerModal">Sign Up</button>
{#                            <a type="button" class="btn btn-outline-secondary btn-sm" href="signup">Sign Up</a>#}
                        </li>
                        <!-- End template for login/signup buttons-->
                    </ul>
                {% endif %}
{#                    <ul class="navbar-nav mx-auto">#}
{#                        #}
{#                    </ul>#}
                    <!-- -->

                    {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mx-auto" >
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                            <div class="user_setting dropdown-menu text-white" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-white" href="#">profile</a>
                                <a class="dropdown-item text-white" href="#">settings</a>
                                <a class="dropdown-item text-white" href="#">create a community</a>
                                <a class="dropdown-item text-white" href="{{ url_for('web_users.logout') }}">Log Out</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
{#            </div>#}
        </nav>
        </div>





    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>