{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-6 ml-auto ">
        <div>

        {% for thread in threads: %}
            <div class="card bg-transparent border-secondary mb-3" style="max-width: 45rem;">
                <div class="row no-gutters">
                    {% if thread.id % 2 == 0: %}
                    <div class="col-lg-4">
                        <img src="../static/img/placeholder.png" class="card-img-top" alt="...">
                    </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body text-white">
                            <h5 class="card-title mb-3">{{ thread.title }}</h5>
                            <p class="card-text">{{ thread.content }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-secondary">
                            <a href="#" class="btn btn-outline-secondary">Comment area</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-6 mr-auto">
        <div>
            <div id="home-sidebar">
                <div class="card bg-transparent border-secondary" style="max-width: 20rem;">
                    <img src="../static/img/placeholder.png" class="card-img-top">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="text-white">Top Communities</div>
                    </div>

                    <ol class="mt-auto">
                        {% for subreddit in subreddits: %}
                        <p class="text-white">/r/subreddit_name</p>
                            <hr>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}